run/options.txt
run/usercache.json
run/usernamecache.json
run/config/fml.toml
run/config/forge-client.toml
run/logs/debug.log
run/logs/latest.log
run/saves/test/icon.png
run/saves/test/level.dat
run/saves/test/level.dat_old
run/saves/test/session.lock
run/saves/test/DIM-1/data/capabilities.dat
run/saves/test/DIM-1/data/raids.dat
run/saves/test/DIM1/data/capabilities.dat
run/saves/test/DIM1/data/raids_end.dat
run/saves/test/advancements/380df991-f603-344c-a090-369bad2a924a.json
run/saves/test/data/capabilities.dat
run/saves/test/data/raids.dat
run/saves/test/entities/r.-1.-1.mca
run/saves/test/entities/r.-1.0.mca
run/saves/test/entities/r.0.-1.mca
run/saves/test/entities/r.0.0.mca
run/saves/test/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
run/saves/test/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
run/saves/test/region/r.-1.-1.mca
run/saves/test/region/r.-1.0.mca
run/saves/test/region/r.0.-1.mca
run/saves/test/region/r.0.0.mca
run/saves/test/serverconfig/forge-server.toml
run/saves/test/stats/380df991-f603-344c-a090-369bad2a924a.json
run/logs/2025-07-22-1.log.gz
run/logs/debug-1.log.gz
run/saves/test/poi/r.-1.-1.mca
run/saves/test/poi/r.-1.0.mca
run/saves/test/poi/r.0.-1.mca
run/saves/test/poi/r.0.0.mca
run/logs/2025-07-22-2.log.gz
run/logs/2025-07-22-3.log.gz
run/logs/2025-07-22-4.log.gz
run/logs/debug-2.log.gz
run/logs/debug-3.log.gz
run/logs/debug-4.log.gz
run/saves/test/data/random_sequences.dat
run/logs/2025-07-22-5.log.gz
run/logs/debug-5.log.gz
run/saves/test/dimensions/mtxgdn/dimension_dirt/data/capabilities.dat
run/saves/test/dimensions/mtxgdn/dimension_dirt/data/raids.dat
run/saves/test/dimensions/mtxgdn/dimension_dirt/entities/r.-1.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/entities/r.-1.0.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/entities/r.0.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/entities/r.0.0.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/poi/r.-1.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/poi/r.-1.0.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/poi/r.0.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/poi/r.0.0.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/region/r.-1.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/region/r.-1.0.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/region/r.0.-1.mca
run/saves/test/dimensions/mtxgdn/dimension_dirt/region/r.0.0.mca
run/saves/test/dimensions/mtxgdn/test_1/data/capabilities.dat
run/saves/test/dimensions/mtxgdn/test_1/data/raids.dat
run/saves/test/dimensions/mtxgdn/test_1/entities/r.-1.-1.mca
run/saves/test/dimensions/mtxgdn/test_1/entities/r.-1.0.mca
run/saves/test/dimensions/mtxgdn/test_1/entities/r.0.-1.mca
run/saves/test/dimensions/mtxgdn/test_1/entities/r.0.0.mca
run/saves/test/dimensions/mtxgdn/test_1/region/r.-1.-1.mca
run/saves/test/dimensions/mtxgdn/test_1/region/r.-1.0.mca
run/saves/test/dimensions/mtxgdn/test_1/region/r.0.-1.mca
run/saves/test/dimensions/mtxgdn/test_1/region/r.0.0.mca
run/screenshots/2025-07-22_21.53.45.png
